

.container {
    background-image: url(images/wiese.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    width: 100vw;
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center;
    
   
  }
  
  #schweini {
    height: 75vh;
    width: auto;
   margin-top: auto;
   margin-bottom: auto;
  display: block;
  border-style: hidden;
  border-radius: 100%;
  }
    
  
    